/*
 * Header logo
 */
.nav-logo {
  img {
    max-height: 2.5rem;
  }

  p.nav-title-text {
    margin-bottom: 0;
  }

  // Style the `docs` with fira and same style
  > a {
    font-size: 2em;
    font-family: "Work Sans";
    font-weight: var(--logo-bold);
    padding: 0;
    text-decoration: none;

    span.nav-subtitle-text {
      color: var(--pst-color-primary);
    }
  }

  // The logo title should align to the left to be flush with logo
  p.logo__title {
    align-self: start;
  }
}
