.sd-card-title {
  margin-bottom: 0.5rem;
  background-color: var(--pst-color-info-bg) !important;
  padding: 0.5rem;
  border-bottom: 2px solid #999;
  font-size: 1.2rem;
  font-weight: 600 !important;
}

.sd-card-header {
  font-size: 1.2em;
  font-weight: 600;
}

.sd-card-body {
  padding: 0 0 !important;

  .left-aligned & ul li {
    text-align: left;
  }
}

.sd-card {
  padding-bottom: 1.5em;
}

.sd-card-text {
  text-align: left;
  padding-right: 1.5em;
  padding-left: 1.5em;
}