name: CD

on:
  pull_request: {}
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  build-test:
    uses: ./.github/workflows/build-test.yml

  deploy:
    needs: [build-test]
    if: github.ref_name == 'main'
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
